<div class="d-flex justify-content-center border-1 "><h1>User Details</h1></div><br>
	

	<div class="d-flex justify-content-center border-1 ">
				   <%= image_tag(@user.photos.url) if @user.photos.url %>
	</div>
	<div class="d-flex justify-content-center border-1 m-1"><b>Id :</b> <%= @user.id %> </div>
	<div class="d-flex justify-content-center border-1 m-1"><b>Name : </b><%= @user.name %></div>
	<div class="d-flex justify-content-center border-1 m-1"><b>Contact : </b><%= @user.phone_no %></div>
	<div class="d-flex justify-content-center border-1 m-1"><b>Age : </b><%= @user.age %></div>
	<div class="d-flex justify-content-center border-1 m-1"><b>Country : </b><%= @user.country %></div>
	<div class="d-flex justify-content-center border-1 m-1"><b>State : </b><%= @user.state %></div>
	<div class="d-flex justify-content-center border-1 m-1"><b>City : </b><%= @user.city %></div>
	<div class="d-flex justify-content-center border-1 m-1"><b>Email : </b><%= @user.email %></div>
	<div class="d-flex justify-content-center border-1 m-1"><b>Gender : </b><%= @user.gender %></div><br>

	<div class="d-flex justify-content-center border-1"><%= link_to "Back", :back, class:"btn btn-secondary" %></div>