
<section class="d-block m-auto d-flex justify-content-center">
<h1>User form</h1>
<%= form_with model: @post, url: @action == 'edit' ?   post_path : posts_new_path, method: @action=='edit' ? :patch : :post , id:'form'  do |form| %>
    <div class="m-4">
        <%= form.label :user_id, "User id :"%><br>
        <%= form.text_field :user_id, size:100*5, class:'input form-control' %><br>

        <%= form.label :title, "Title :"%><br>
        <%= form.text_field :title , class:'input form-control'%><br>
        
        <%= form.label :description , "Description :"%><br>
        <%= form.text_area :description , size: 100*5, class:'input form-control' %><br>

        <div class="d-flex justify-content-center m-3">
            <input type="submit" class="btn-secondary btn" value="Submit" id="btn"></input><br>
        </div>
    </div>
</section>
<%end%>