<h1>Post detail</h1>
<br>
Id              :           <%= @post.id %><br>
Name         :      <%= @post.name %><br>
Age           :        <%= @post.age %><br>
email     :  <%= @post.email %><br>
phone_no     :  <%= @post.phone_no %><br>
 