
<h1 class="d-flex justify-content-center align-content-center">Posts</h1><br>
<table class="d-flex justify-content-around border-1 m-5">
		
		<tr class="border-dark">
				<th class="border-2 p-2 text-center"><b>Id</th>
				<th class="border-2 p-2 text-center"><b>User</th>
				<th class="border-2 p-2 text-center"><b>Title</th>
				<th class="border-2 p-2 text-center"><b>Description</th>
			
				<% if user_signed_in? %>
					<th class="border-2 p-2 text-center" colspan="3">Operations</th>
				<%end%>
		</tr>		
		
			<% @posts.each do |post|%>
					<tr>
						<td class="border-1 p-2"><%= post.id %></td>
						<td class="border-1 p-2"><%= post.user.name %></td>
						<td class="border-1 p-2"><%= post.title %></td>
						<td class="border-1 p-2"><%= post.description %></td>
							<% if user_signed_in? %>
							<td class="border-1 p-2">
							<% if post.user.name == current_user.name %>
							<%= button_to 'Edit',  edit_post_path(post),class:"btn-secondary rounded", method: :get %>
							<%= button_to 'Destroy',  post_path(post), method: :delete, class:'delete-btn btn-secondary rounded' %>
							<% end %>
							<%= button_to 'Show',  post_path(post), method: :get, class:"btn-secondary rounded"%>
							</td>
							<% end %>
					</tr>
			<%end%>

</table>


<br>
<br>
<div class=" d-flex justify-content-around">
<button class="p-2 btn-primary btn  rounded-2 p-2"><a class="text-decoration-none text-light" href="posts/new"> Create Posts</a></button>
</div>
<script>
	// $(document).ready(() => {

	// 	$('.delete-btn').click((e) => { deleteConfirmation(e) })
	    
	  var deleteButton = document.querySelectorAll(".delete-btn");
	  for (var i = 0; i < deleteButton.length; i++){
		  	deleteButton[i].addEventListener("click", deleteConfirmation);
	  	}
	  		function deleteConfirmation(e) {
		    	console.log('FUNC');
		    	if (confirm("Are you sure?")) {
		    	console.log('Delete');
		    	}
		    	else {
		    	console.log('DONT DELETE');
		      event.preventDefault()
		    	}
		  
		  	}
	    
	// })
</script>