<div class="d-flex justify-content-center"> 
<h2>Sign up</h2>
</div>
<div class="d-flex justify-content-center">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age, autofocus: true, autocomplete: "age" %>
  </div>
  
  <div class="field">
    <%= f.label :phone_no %><br />
    <%= f.text_field :phone_no, autofocus: true, autocomplete: "phone_no" %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.radio_button :gender, 'Male', autofocus: true, autocomplete: "gender" %>
    <%= f.label :gender_male, "Male" %><br />
    <%= f.radio_button :gender, 'Female', autofocus: true, autocomplete: "gender" %>
    <%= f.label :gender_female, "Female" %><br />
    <%= f.radio_button :gender, 'Transgender', autofocus: true, autocomplete: "gender" %>
    <%= f.label :gender_transgender, "Transgender" %><br />
  </div>

  <div class="field mt-3">
        <%= label_tag :country %>
        <%= select_tag :country, options_for_select(CS.countries.map { |c| [c[1], c[0]] } ) %>
  </div>
  <div class="field mt-3">
    <!-- State -->
    <%= label_tag :state %>
    <%= select_tag :state, options_for_select([]) %>
  </div>

  <div class="field mt-3">
    <!-- City -->
    <%= label_tag :city %>
    <%= select_tag :city, options_for_select([]) %>
  </div>
 
  <div class="field">
    <%= f.label :photos, "Upload Photo" %><br />
    <%= f.file_field :photos, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div><br>
<% end %>
</div>

<div class="d-flex justify-content-center"> 
<%= render "users/shared/links" %>
</div>